/*
--------------------------------------------------
SECTIONS
--------------------------------------------------
*/

.sections {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sections__li {
  display: flex;
  column-gap: 1.2rem;
  font-size: 1.2rem;
  margin: 0;
}

.sections__image-link {
  display: flex;
  align-items: baseline;
}

.sections__image {
  width: 4.5rem;
  padding: 0.8rem;
  border-radius: var(--radius);
}

.sections__text {
  width: 84%;
}

.sections__text h4 {
  margin: 0 0 0.3rem 0;
  font-size: 1.1rem;
}

.sections__desc {
  font-size: 0.9375rem;
}

.sections__desc p {
  margin: 0;
}

/*
--------------------------------------------------
TAGS
--------------------------------------------------
*/

.tags {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.tags li {
  display: flex;
  margin: 0;
  letter-spacing: 0.03125rem;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid #111;
  background-color: white;
  font-size: 0.6875rem;
  border-radius: var(--radius);
  line-height: 1;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
}

.tags li:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.tags li a {
  padding: 0.375rem 0.5rem;
  text-decoration: none;
}

/* SECTION */

.section {
  margin: 0;
  white-space: nowrap;
  color: #fff;
  font-size: 0.6875rem;
  height: 1.5625rem;
  display: flex;
  border: none;
  border-radius: var(--radius);
}

.section a {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
}

.section img {
  width: 1rem;
  height: 1rem;
}

.section span {
  letter-spacing: 0.03125rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

