/*
--------------------------------------------------
WRAPPERS
--------------------------------------------------
*/

.wrapper-header {
  margin: 0;
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  transition: background-color var(--transition-secs) ease-out;
  background-color: #fff;
}

.wrapper-body {
  margin: 0;
}

/* LAYOUT PADDING */

.inner {
  margin: 0 auto;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

@media (min-width: 768px) {
  .inner {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .inner {
    max-width: var(--max-width);
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/* BLOCKS */

.site-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-nav {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #fff;
  color: var(--black);
}

.site-main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.site-footer {
  background-color: #fff;
  border-top: var(--border);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

@media (min-width: 768px) {
  .site-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .site-nav {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .site-footer {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .site-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .site-nav {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .site-footer {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

/*
--------------------------------------------------
HEADER
--------------------------------------------------
*/

.header-layout {
  display: flex;
  flex-direction: column;
}
.header-layout__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger-icon {
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 2rem;
}
.normal-menu {
  display: none;
}

@media (min-width: 768px) {
  .header-layout {
    flex-direction: row;
    align-items: center;
  }
  .normal-menu {
    display: flex;
  }
  .hamburger-icon {
    display: none;
  }
  .hamburger-menu__dropdown {
    width: 0;
  }
}

/*
--------------------------------------------------
MENUS
--------------------------------------------------
*/

/* FULL WIDTH MENU */

.dropdown-menu {
  font-size: 0.9375rem;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: right;
}

.dropdown-menu__item {
  position: relative;
  display: inline-block;
  letter-spacing: 0.03125rem;
  font-size: 0.9375rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.dropdown-menu__title {
  padding: 0.4rem 0.8rem;
  display: flex;
}

.dropdown-menu__title::after {
  content: '﹀';
  margin: 0.25rem 0 0 0.25rem;
}

.dropdown-menu__content {
  display: none;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: whitesmoke;
  color: var(--black);
  font-size: 0.875rem;
  min-width: 16rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity var(--transition-secs) ease-out;
}

.dropdown-menu__content li {
  margin: 0;
}

.dropdown-menu__content a {
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  display: block;
}

.dropdown-menu__content a:hover {
  background-color: #ddd;
}

.dropdown-menu__item:hover .dropdown-menu__content {
  display: block;
}

.dropdown-menu__item:hover .dropdown-menu__title {
  background-color: var(--black);
  color: var(--white);
}

/* HAMBURGUER MENU */



.hamburger-menu__dropdown {
  overflow: hidden;
  height: 0;
}

.hamburger-menu {
  list-style: outside none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.hamburger-menu__item {
  padding: 0.5rem 0;
  margin: 0;
}

.hamburger-menu__title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  padding: 0.4rem 0;
}

.hamburger-menu__content {
  list-style: outside none;
  margin: 0;
  padding: 0;
}

.hamburger-menu__content li {
  border-bottom: 1px solid #ced4da;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 0.975rem;
}

.hamburger-menu__content li a {
  display: block;
  padding: 0.3rem 0;
  text-decoration: none;
}

.hamburger-icon__checkbox {
  display: none;
}

.hamburger-icon__checkbox:checked ~ .hamburger-menu__dropdown {
  height: auto;
}

.hamburger-icon__line {
  background: var(--black);
  display: block;
  height: 4px;
  position: relative;
  width: 2rem;
  transition: background var(--transition-secs) ease-out;
}

.hamburger-icon__line:before,
.hamburger-icon__line:after {
  background: var(--black);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all var(--transition-secs) ease-out;
}

.hamburger-icon__line:before {
  top: 8px;
}

.hamburger-icon__line:after {
  top: -8px;
}

.hamburger-icon__checkbox:checked ~ .header-layout__row .hamburger-icon__line {
  background: transparent;
}

.hamburger-icon__checkbox:checked ~ .header-layout__row .hamburger-icon__line:before {
  transform: rotate(-45deg);
}

.hamburger-icon__checkbox:checked ~ .header-layout__row .hamburger-icon__line:after {
  transform: rotate(45deg);
}

.hamburger-icon__checkbox:checked ~ .header-layout__row .hamburger-icon__line:before,
.hamburger-icon__checkbox:checked ~ .header-layout__row .hamburger-icon__line:after {
  top: 0;
}

/*
--------------------------------------------------
LOGO
--------------------------------------------------
*/

/* SITE LOGO */

.site-logo {
  max-width: 200px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 1.2rem;
  margin-right: 1rem;
}

.site-logo__icon {
  width: 100%;
  align-self: center;
}

.site-logo__text-image {
  width: 100%;
  align-self: center;
}

@media (min-width: 768px) {
  .site-logo {
    max-width: 260px;
    margin-right: 0;
  }
}

/*
--------------------------------------------------
BREADCRUMBS
--------------------------------------------------
*/

.breadcrumbs {
  font-size: 0.9375rem;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.breadcrumbs > li {
  display: inline;
}

.breadcrumbs > li:not(:last-child)::after {
  content: "›";
  margin: 0 .25em;
}

/*
--------------------------------------------------
FOOTER
--------------------------------------------------
*/

.footer-layout {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.footer-layout__license {
  display: flex;
  align-items: center;
}

.footer-layout__icon {
  margin: 0.5rem 0.5rem 0.5rem 0;
  height: 1.8rem;
}

.footer-layout__logo {
  height: 1.2rem;
  margin: 0 1.2rem 0 0.4rem;
}
