/*
--------------------------------------------------
INDEX
--------------------------------------------------
*/

/* CUSTOM */

.index__hero {
  background-color: #1b1b1b;
  color: var(--white);
}

.index__updated {
  border-top: var(--border);
}

/* HERO */

.hero {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.hero h1 {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .hero {
    max-width: 70%;
  }
  .hero h1 {
    font-size: 2rem;
    padding: 0.6rem 0 1.4rem 0;
  }
}

/* INTRO */

.intro {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-areas:
    "index__aside"
    "index__featured";
}

.intro__aside {
  grid-area: index__aside;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
}

.intro__aside > div {
  border-top: var(--border);
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.intro__aside > div:first-of-type {
  border-top: 0;
}

.intro__featured {
  padding: 2rem 0;
  grid-area: index__featured;
  border-top: var(--border);
}

.intro__featured__subtitle {
  margin: 0.8rem 0;
}

.intro__block {
  margin: 0.8rem 0 0.2rem 0;
}

.intro__meta {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

@media (min-width: 768px) {
  .intro {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(0, 60%) minmax(0, 40%);
    grid-template-areas:
      "index__featured index__aside";
  }

  .intro__aside {
    margin-top: -4rem;
    margin-bottom: 2rem;
    border-top: none;
    background-color: whitesmoke;
    padding: 0.4rem 2.4rem;
    border-radius: 0.5rem;
    font-size: 0.9375rem;
  }

  .intro__featured {
    grid-area: index__featured;
    border-top: none;
  }
}

/* UPDATED */

.updated {
  padding: 2rem 0;
}

/* HORIZONTAL GRID */

.horizontal-grid {
  font-size: 0.9375rem;
  overflow-x: scroll;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  scroll-snap-type: x mandatory;
}

.horizontal-grid__item {
  padding: 1rem 0;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
  scroll-snap-align: start;
}

@media (min-width: 768px) {
  .horizontal-grid {
    overflow-x: hidden;
    scroll-snap-type: unset;
  }

  .horizontal-grid__item {
    min-width: auto;
    scroll-snap-align: unset;
  }
}

/*
--------------------------------------------------
LIST ARTICLE
--------------------------------------------------
*/

.list-article {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.2rem;
}

.list-article__aside {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.list-article__image {
  max-width: 7rem;
  padding: 1rem;
}

.list-article__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}

.list-article__summary {
  font-size: 1.1rem;
}

.list-article__main {
  margin-bottom: 2rem;
}

.list-article__years {
  list-style: inside none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 1.6rem;
  padding: 0;
  background: whitesmoke;
  padding: 1rem;
  border-radius: var(--radius);
}

.list-article__years span {
  padding-right: 0.4rem;
  font-weight: bold;
}

.list-article__years li {
  margin: 0;
  padding: 0;
}

.list-article__years li:before {
  content: '•';
  padding: 0 0.25rem;
}

.list-article__years li:first-of-type:before {
  content: '';
  padding: 0;
}

@media (min-width: 768px) {
  .list-article {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(0, 1fr) calc(65%);
  }

  .list-article__aside,
  .list-article__main {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

}

/* ARTICLE ITEM */

.article-item {
  margin-bottom: 1.2rem;
  border-top: var(--border);
  padding-top: 1.2rem;
}

@media (min-width: 768px) {
  .article-item:first-of-type {
    border-top: 0;
    padding-top: 0;
  }
}

.article-item__summary {
  font-size: 0.9375rem;
}

.article-item__subtitle {
  display: flex;
  align-items: center;
}

.article-item__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.article-item__star,
.article-item__draft {
  height: 1.2rem;
  margin-left: 0.4rem;
}

.article-item__star img,
.article-item__draft img {
  height: 100%;
}

/* CHRONOLOGY ITEM */

.chronology-year {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 1rem 0;
}

.chronology-year img {
  height: 2.4rem;
  background-color: purple;
  padding: 0.4rem;
  border-radius: var(--radius);
}

.chronology-year h5 {
  font-size: 1.4rem;
  margin: 0;
}

.chronology-item {
  padding: 0.8rem 0;
  margin-top: 1px solid #777;
}

.chronology-item__header {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.chronology-item__header > h3 {
  margin-bottom: 0.4rem;
  color: purple;
}

.chronology-item__header > div {
  display: flex;
  gap: 0.4rem;
  font-weight: bold;
  align-items: baseline;
}

.chronology-item__header > div > span {
  flex-shrink: 0;
  width: 3.2rem;
  font-size: 0.875rem;
}

/*
--------------------------------------------------
SINGLE ARTICLE
--------------------------------------------------
*/

.single-article {
  display: grid;
  grid-template-columns: minmax(0, 100%);
}

.single-article__main {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.single-article__aside {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  background: #f8f9fa;
  padding: 1.2rem;
  border-radius: var(--radius);
}

@media (min-width: 1024px) {
  .single-article {
    display: grid;
    grid-template-columns: minmax(0, 72%) minmax(0, 28%);
    column-gap: 3rem;
  }
  .single-article__main {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .single-article__aside {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.6rem;
  }
}

/* ARTICLE BLOCKS */

.article__header {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.article__meta div {
  font-size: 0.85rem;
}

.article__meta div p {
  margin: 0.4rem 0;
}

.article__related div {
  font-size: 0.85rem;
}

.article__related div p {
  margin: 1rem 0;
}

.article__toc {
  max-width: 24rem;
}

.article__toc-content {
  background-color: var(--color-generic-light);
  border-radius: var(--radius);
}

.article__subtitle {
  align-items: center;
}

.article__star {
  height: 1.2rem;
  margin: 0;
}

/*
--------------------------------------------------
404
--------------------------------------------------
*/

.page-404 {
  text-align: center;
}
