header.book-header {
  line-height: 1.35em;

  div.align-center {
    > label:first-child {
      margin-right: 1rem;
    }

    > label:last-child {
      margin-left: 1rem;
    }
  }
}

article.markdown {
  text-align: justify;
  hyphens: auto;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
  }

  figure {
    text-align: center;
    margin: 0;

    img {
      margin: 0.25em 0.5em;
    }

    &.portrait img {
      max-width: 100%;
      width: 20em;
    }

    blockquote {
      text-align: initial;
    }
  }

  nav.índice-cronología {
    ul {
      display: inline;
      padding: 0;

      li {
        display: inline;

        & + li::before {
          content: "\00B7\00A0";
        }
      }
    }
  }

  article.suceso {
    margin: 1em 0;

    time {
      font-weight: bold;
    }

    header {
      display: inline;

      & + p {
        display: inline;
      }
    }
  }
}
