{{ if .CurrentSection.Name }}
  <li class="section" style="background-color: {{ .CurrentSection.Params.colors.dark }}; border-color: {{ .CurrentSection.Params.colors.dark }}">
    <a href="{{ .CurrentSection.RelPermalink }}">
      {{ if .CurrentSection.Params.images }}
        <img title="{{ .CurrentSection.Name }}" src="{{ index .CurrentSection.Params.images 0 | relURL }}">
      {{ end }}
    </a>
  </li>
{{ end }}
