<section class="footer-layout">
  <div>
    <a href="https://creativecommons.org/licenses/by/4.0/deed.es">
      <div class="footer-layout__license">
        <img class="footer-layout__icon" src="{{ "/images/icon.svg" | relURL }}">
        <img class="footer-layout__logo" src="{{ "/images/logo.svg" | relURL }}">
        <img class="footer-layout__icon" src="{{ "/images/cc.svg" | relURL }}">
        <img class="footer-layout__icon" src="{{ "/images/by.svg" | relURL }}">
      </div>
    </a>
    Todo el contenido de este sitio se ofrece bajo licencia <strong>Creative Commons Atribución 4.0 Internacional <a href="https://creativecommons.org/licenses/by/4.0/deed.es">(CC BY 4.0)</strong></a>.
  </div>
</section>
