<ul class="dropdown-menu">

  <li class="dropdown-menu__item">
    <div class="dropdown-menu__title">Secciones</div>
    {{ range where .Site.Sections "Section" "articulos" }}
      <ul class="dropdown-menu__content">
        {{ range .Pages }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }} ({{ len .Pages }})</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </li>

  <li class="dropdown-menu__item">
    <div class="dropdown-menu__title">Etiquetas</div>
    <ul class="dropdown-menu__content">
      {{ range .Site.Taxonomies.etiquetas.ByCount }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
      {{ end }}
    </ul>
  </li>

  <li class="dropdown-menu__item">
    <div class="dropdown-menu__title">Más</div>
    <ul class="dropdown-menu__content">
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </li>

</ul>

