{{ $tema := .Get 0 }}
{{ $iso8601 := "2006-01-02T15:04:05-07:00" }}
{{ $sucesos := (index $.Site.Taxonomies.temas $tema) }}
{{ $sucesosPorAño := $sucesos.Pages.GroupByDate "2006" }}

<nav class="índice-cronología">
Saltar a un año:
<ul>
{{ range $sucesosPorAño }}
  <li><a href="#{{ .Key }}">{{ .Key }}</a></li>
{{ end }}
</ul>
</nav>

{{ range $sucesosPorAño }}
<h2 id="{{ .Key }}">{{ .Key }}</h2>

{{   range .Pages }}
<article class="suceso" id="{{ .File.ContentBaseName }}">
{{     with .Date }}
<header>
  <time datetime="{{ .Format $iso8601 }}">{{ .Day }} de {{ printf "%d" .Month | index $.Site.Data.months }}.</time>
</header>
{{     end }}
{{ .Content }}
</article>
{{   end }}
{{ end }}