{{- $categoryName := .Get 0 }}
{{- $shouldPrintItself := .Get 1 | default false }}
{{- $categoryPage := site.GetPage $categoryName }}
{{- $pages := index $.Site.Taxonomies "categories" $categoryName }}

{{ if $shouldPrintItself }}<a href="{{ $categoryPage.RelPermalink }}">{{ $categoryPage.Title }}</a>{{ end }}
<ul>
{{ range $pages }}
  <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
{{ end }}
</ul>