<div class="intro">

  <section class="intro__featured">
    {{ $articles := where .Site.RegularPages "Section" "articulos" }}
    {{ $featuredArticles := where $articles "Params.featured" "==" true }}
    {{ if gt (len $featuredArticles) 0 }}
      {{ range first 1 (shuffle $featuredArticles) }}
        <article>

          <h5>Artículo destacado</h5>

          <h1>
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </h1>

          <ul class="tags intro__featured__subtitle">
            {{ partial "blocks/section-icon-text.html" . }}
            {{ partial "blocks/tags.html" (.GetTerms "etiquetas") }}
          </ul>

          {{ .Content | safeHTML | truncate 1100 }}

          <div>
            <a class="read-more" href="{{ .RelPermalink }}">Leer más</a> →
          </div>

        </article>
      {{ end }}
    {{ else }}
      <div>
        No hay artículos destacados.
      </div>
    {{ end }}
    </section>

  <aside class="intro__aside">

    <div>
      <h5>Secciones</h5>
      {{ partial "blocks/sections.html" . }}
    </div>

    <div>
      <h5>Etiquetas</h5>
      <ul class="tags intro__block">
        {{ partial "blocks/tags-count.html" .Site.Taxonomies.etiquetas.ByCount }}
      </ul>
    </div>

    <div>
      <h5>Cronología</h5>
      {{ with .Site.GetPage "/cronologia" }}
        <div class="sections__li">
          <div class="sections__desc">
            {{ .Summary }}
          </div>
          {{ if .CurrentSection.Params.images }}
            <img class="sections__image" src="{{ index .CurrentSection.Params.images 0 | relURL }}">
          {{ end }}
        </div>
        <div class="intro__block">
          <a class="read-more" href="{{ .RelPermalink }}">Ir a la cronología</a> →
        </div>
      {{ end }}
    </div>

    <div>
      <h5>Meta</h5>
      {{ with .Site.GetPage "/meta" }}
        <div class="intro__meta">
          {{ range first 3 .Pages }}
            <div>{{ partial "utils/date.html" (dict "date" .Date "months" $.Site.Data.monthsshort) }}</div>
            <div><a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a></div>
          {{ end }}
        </div>
        <div class="intro__block">
          <a class="read-more" href="{{ .RelPermalink }}">Ver todas las noticias</a> →
        </div>
      {{ end }}
    </div>

  </aside>

</div>
