{{ define "title" }}
  404 Página no encontrada – {{ .Site.Title }}
{{ end }}

{{ define "main" }}

  <section class="page-404">
    <img src="{{ "/images/404.svg" | relURL }}">
    <h1>404 Página no encontrada</h1>
  </section>

{{ end }}
