{{ define "title" }}
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}

  <section class="index__hero">
    <div class="inner">

      {{ partial "index/hero.html" . }}

    </div>
  </section>

  <!-- -->

  <section class="index__content">
    <div class="inner">

      {{ partial "index/intro.html" . }}

    </div>
  </section>

  <!-- -->

  <section class="index__updated">
    <div class="inner">

      {{ partial "index/updated.html" . }}

    </div>
  </section>

{{ end }}
