{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<section>
  <div class="inner">

    <article class="single-article">

      <main class="single-article__main">

        <h1>{{ .Title }}</h1>
        <div>
          {{ partial "utils/date.html" (dict "date" .Date "months" $.Site.Data.monthsshort) }}
        </div>
        <main>
          {{ .Content }}
        </main>

      </main>

    </article>

  </div>
</section>

{{ end }}
