<div>
  {{ if .CurrentSection.Params.images }}
    <img class="list-article__image"
        style="background-color: {{ .CurrentSection.Params.colors.dark }}"
        src="{{ index .CurrentSection.Params.images 0 | relURL }}">
  {{ end }}

  <div class="list-article__title" style="color: {{ .CurrentSection.Params.colors.dark }}">{{ .Title }}</div>

  <div class="list-article__summary">
    <p>{{ .Content }}</p>
    <p>Hay <strong>{{ len .RegularPages }} artículos</strong> en esta sección.</p>
  </div>
</div>


