{{ define "main" }}
  <article class="markdown">
    {{- .Content -}}
    <ul>
    {{ range sort .Paginator.Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
    </ul>
  </article>

  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
{{ end }}
