{{ $devices := $.Site.Data.kobo.devices -}}

{{- if not hugo.IsProduction }}
<div class="dev-notice">
  Nota de desarrollo: los siguientes enlaces son simulados. Para hacer las peticiones y ver los enlaces de descarga reales, usa en el comando de Hugo la opción <code>--environment="production"</code>.
</div>
{{- end }}

<ul class="kobo-firmware-downloads">
{{- $affiliate := "kobo" }}
{{- $currentFwVersion := "0.0" }}
{{- $serialNumber := "N" }}
{{- range $devices }}
  {{- $update := dict "UpgradeType" 3 "UpgradeURL" "https://kbdownload1-a.akamaihd.net/firmwares/<hardware>/Month20xx/kobo-update-x.xx.xxxxxx.zip" "ReleaseNoteURL" "https://api.kobobooks.com/1.0/ReleaseNotes/xxx" "Data" nil }}
  {{- if hugo.IsProduction }}
    {{- $url := print "https://api.kobobooks.com/1.0/UpgradeCheck/Device/" (index . "id") "/" $affiliate "/" $currentFwVersion "/" $serialNumber }}
    {{ with resources.GetRemote $url }}
      {{ with .Err }}
        {{ errorf "%s" . }}
      {{ else }}
        {{- $update = . | transform.Unmarshal }}
      {{ end }}
    {{ else }}
      {{ errorf "Unable to get remote resource %q" $url }}
    {{ end }}
  {{- end }}
  <li>
    {{ index . "model" }} ({{ index . "hardware" }}):
    {{- with (index $update "UpgradeURL") }}
    <a href="{{ . }}">descargar actualización</a>
    {{- end }}
    o
    {{- with (index $update "ReleaseNoteURL" ) }}
    <a href="{{ . }}">leer notas de la versión</a>
    {{- end -}}
  </li>
{{- end }}
</ul>
