{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}

  <section>
    <div class="inner">

      <article class="single-article">

        <main class="single-article__main">

          {{ partial "single/title.html" . }}

          {{ partial "single/draft.html" . }}

          {{ partial "single/toc.html" . }}

          {{ partial "single/main.html" . }}

        </main>

        <aside class="single-article__aside" style="border-left: 0.25rem solid {{ .CurrentSection.Params.colors.light }}">

          {{ partial "single/meta.html" . }}

          {{ partial "single/related.html" . }}

        </aside>

      </article>

    </div>
  </section>

{{ end }}
